@font-face {
	font-family: "Rubik";
	src: url("./fonts/rubik.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-bg-color: #121619;
	--bg-color: #121632;
	--text-color: #F2F9FF;
}

body {
	background-color: var(--body-bg-color);
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	color: var(--text-color);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	all: unset;
}
